body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pricing-section {
  text-align: center;
}

h1 {
  color: #335eea;
  margin-bottom: 30px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 2px solid #335eea;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}
.back-button {
  background-color: #335eea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #1d44b8;
}

.pricing-section {
  text-align: center;
}


h2 {
  color: #335eea;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

ul li {
  margin: 10px 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #335eea;
}

@media (max-width: 768px) {
  .pricing-cards {
    flex-direction: column;
  }
}
